<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>themmaymoi</servlet-name>
  	<display-name>themmaymoi</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.themmaymoi</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themkhachhang</servlet-name>
  	<display-name>themkhachhang</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.themkhachhang</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>themdichvu</servlet-name>
  	<display-name>themdichvu</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.themdichvu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dichvuSevices</servlet-name>
  	<display-name>dichvuSevices</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.dichvuSevices</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>khachhangSevices</servlet-name>
  	<display-name>khachhangSevices</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.khachhangSevices</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mayServices</servlet-name>
  	<display-name>mayServices</display-name>
  	<description></description>
  	<servlet-class>fa.training.Sevlet.mayServices</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteMay</servlet-name>
  	<display-name>deleteMay</display-name>
  	<description></description>
  	<servlet-class>fa.training.Services.deleteMay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchMay</servlet-name>
  	<display-name>searchMay</display-name>
  	<description></description>
  	<servlet-class>fa.training.Services.searchMay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>alldanhsach</servlet-name>
  	<display-name>alldanhsach</display-name>
  	<description></description>
  	<servlet-class>fa.training.Services.alldanhsach</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>seachKhach</servlet-name>
  	<display-name>seachKhach</display-name>
  	<description></description>
  	<servlet-class>fa.training.Services.seachKhach</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>seachDichVu</servlet-name>
  	<display-name>seachDichVu</display-name>
  	<description></description>
  	<servlet-class>fa.training.Services.seachDichVu</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>themmaymoi</servlet-name>
  	<url-pattern>/themmaymoi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>themkhachhang</servlet-name>
  	<url-pattern>/themkhachhang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dichvuSevices</servlet-name>
  	<url-pattern>/dichvuSevices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>khachhangSevices</servlet-name>
  	<url-pattern>/khachhangSevices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mayServices</servlet-name>
  	<url-pattern>/mayServices</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteMay</servlet-name>
  	<url-pattern>/deleteMay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchMay</servlet-name>
  	<url-pattern>/searchMay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>alldanhsach</servlet-name>
  	<url-pattern>/alldanhsach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>seachKhach</servlet-name>
  	<url-pattern>/seachKhach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>seachDichVu</servlet-name>
  	<url-pattern>/seachDichVu</url-pattern>
  </servlet-mapping>

</web-app>
